
.App {
  display:flex;
  align-items: center;
  padding: 20px;
  width: 60%;
}

input{
  width: 20%;
  height: 30px;
  border: 1px solid darkgray;
  margin-right: 20px;
  padding: 7px;
  border-radius: 15px;
}

input::placeholder{
  color:lightgray;
}

button{
  background-color: #15a374;
  color: white;
  text-align: center;
  height: 40px;
  width: 8%;
  border: none;
  border-radius: 6px;
  margin-right: 20px;
  opacity: 0.7;
}

button:hover{
  cursor: pointer;
  opacity: 1;
}

table{
  margin-top:30px;
  border: none;
  border-spacing: 15px;
}

td,th{
  border: 2px solid darkgrey;
  padding: 5px;
}
