.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.conatiner{
  width:45%;
}

.post {
  border: 2px solid darkmagenta;
  display: flex;
  height: 112px;
}

.image__section {
  width: 35%;
}

img {
  width: 100%;
  height: 100%;
}

.data__container {
  padding: 22px;
  width:65%
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.scrollbar {
  height: 93vh;
  width: 45vw;
  background: #fff;
  overflow-y: scroll;
  padding-right: 11px;
}

.scrollbar::-webkit-scrollbar {
  background-color: #fff;
  width: 16px
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #fff
}

.scrollbar::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #f4f4f4;
  border-radius: 16px;
  border: 5px solid #fff
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4
}

.scrollbar::-webkit-scrollbar-button {
  display: none
}